:root {
  --primary-color: #545862;
  --secondary-color: #999;
  --black: #000;
  --white: #fff;
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  font-family: 'Open Sans', 'Lucida Grande', tahoma, verdana, arial, sans-serif;
  font-size: 18px;
  color: var(--primary-color);

  /* background-color: rgb(171, 206, 209); */

  margin: auto;
}

.box-format {
  display: flex;
  border-bottom: 1px solid var(--secondary-color);
  padding: 15px;
}

#list {
  max-width: 600px;
  margin: 100px auto;
  border-radius: 3px;
  box-shadow: 0 0 10px var(--primary-color);
}

#list-header {
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to bottom right, rgba(135, 135, 202, 0.73), rgba(197, 146, 188, 0.736));
}

#list-header h1 {
  font-size: 20px;
  font-weight: bolder;
  margin: 0;
}

.fa {
  font-size: 24px;
  color: var(--primary-color);
}

.fa-refresh:hover {
  text-shadow: 0 0 12px rgb(3, 217, 3);
}

.pointer {
  cursor: pointer;
}

input {
  font-size: 18px;
  background-color: transparent;
  border: none;
}

#list-input-group {
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
  background-image: linear-gradient(to bottom right, rgba(72, 206, 255, 0.187), rgba(255, 197, 81, 0.227));
}

#list-input-text {
  font-style: italic;
  flex: 1 1 auto;
  outline: transparent;
}

#list-input-text:hover::placeholder {
  text-shadow: 0 0 5px orange;
}

#list-input-btn {
  font-size: 22px;
  border: 2px solid transparent;
  border-radius: 4px;
}

#list-input-btn:hover {
  border: 2px solid var(--primary-color);
}

ul {
  padding: 0;
  margin: 0;
}

.task-item {
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: auto;
}

.task-item:hover {
  box-shadow: 0 0 5px var(--secondary-color);
}

.completed-container {
  background-color: rgba(98, 61, 15, 0.358);
}

.task-content {
  flex: 0 0 90%;
  display: flex;
}

.task-label {
  flex: 0 1 100%;
  padding: 0 10px;
}

.completed {
  color: #545862;
  text-decoration: 2px black line-through;
}

.task-label:focus {
  outline: 3px solid rgba(0, 0, 0, 0.283);
  background-color: rgba(58, 174, 194, 0.255);
  box-shadow: 0 0 15px rgba(58, 174, 194, 0.608);
  border-radius: 8px;
}

.task-icons {
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex: 0 0 10%;
}

.task-icons .fa {
  flex: 1 0 auto;
}

.fa-trash-o:hover {
  text-shadow: 0 0 5px rgb(255, 0, 0);
}

#clear-btn {
  justify-content: center;
  font-size: 18px;
  background-color: #f6f6f6;
  width: 100%;
  border: none;
  margin: auto;
}

#clear-btn:hover {
  text-decoration: underline;
}

#clear-btn:active {
  text-decoration: none;
  box-shadow: 0 0 12px inset rgb(242, 129, 24);
}

/* Messages */
.msg {
  visibility: hidden;
  text-align: center;
  font-size: 22px;
  width: fit-content;
  padding: 16px;
  margin: 0 auto;
  border-radius: 4px;
  z-index: 5;
  position: fixed;
  top: 40px;
  left: 0%;
  right: 0%;
}

#success-msg {
  background-color: #dff2bf7a;
  color: #4f8a10;
  border: 1px solid #618d32;
  box-shadow: 0 0 15px #4f8a108c;
}

.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#repeated-msg {
  background-color: rgba(255, 210, 210, 0.654);
  color: #d8000c;
  border: 1px solid #d8000c;
  box-shadow: 0 0 15px #8a10108c;
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }

  to {
    top: 40px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    top: 40px;
    opacity: 1;
  }

  to {
    top: 0;
    opacity: 0;
  }
}

.recent-added,
.recent-added:hover {
  border: 1px solid #4f8a10;
  box-shadow: 0 0 15px #4f8a10c4 inset;
}

.highlight-recent {
  background-color: #4f8a109d;
}

.task-repeated,
.task-repeated:hover {
  border: 1px solid #d8000c;
  box-shadow: 0 0 15px #8a10108c inset;
}

.highlight-repeated {
  background-color: #8a10104d;
}
